<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FHHollowLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E03358D91CE1BCE100CE81C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03358F21CE1BCE100CE81C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03358FD1CE1BCE200CE81C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
